<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noble</title>
    
    <link rel="stylesheet" href="css/noble.css">
    <link rel="shortcut icon" href="img/b1.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/0cd43d1304.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Ibarra+Real+Nova&family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,500;1,700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" media="screen and (max-width:920px)" href="css/nobleipad.css">
</head>
    <body>
        <nav id="nav">
            <div class="nav-list-logo">
                <div class="nav-logo">
                    <h2>NOBLE</h2>
                    <img src="./img/z2.png" alt="">
                    <h2 style="color: rgb(255, 102, 0);">GRAPIX</h2>
                </div>
                <div class="nav-list">
                    
                    <h3 id="home-click">HOME</h3>
                    <h3 id="gallery-click">GALLERY</h3>
                    <h3 id="rates-click">RATES</h3>
                    <h3 id="potfoilo-click">PORTFOLIO</h3>
                    <h3 id="services-click">SERVICES</h3>
                    <h3 id="about-click">ABOUT US</h3>
                    
                </div>
                
                <div class="servicetext2" >
                    <div class="servicetext2-li">
                        <h3 class="booking-click">BOOKINGS</h3>
                        <h3 class="training-click">TRAINING</h3>
                    </div>    
                </div>
               <div class="protfolio-text" >
                    <div class="protfolio-text-li">
                        <h3 id="indoor-text">INDOOR </h3>
                        <h3 id="outdoor-text">OUTDOOR </h3>
                        <h3 id="portrait-text">PORTRAITS</h3>
                        <h3 id="fashion-text">FASHION </h3>
                        <h3 id="product-text">PRODUCT</h3>
                        <h3 id="makeup-text">MAKE-UP</h3>
                    </div>
               </div>
            </div>
        </nav>
        
        <section class="mobile-nav-info">
            <div class="nav-mobile-logo">
                <div class="nav-logo">
                    <h2 id="logo-name">NOBLE</h2>
                    <img src="./img/z2.png" alt="">
                    <h2 style="color: rgb(255, 102, 0);">GRAPIX</h2>
                </div>
                <div class="nav-icon">
                    <i class="fa-solid fa-xmark cancel"></i>
                    <i class="fa-solid fa-bars menu"></i>
                </div>
               
                <div class="mobile-nav-list">
                    <div class="nav-h3">
                        <h3 id="home-mobile-click">HOME</h3>
                        <h3 id="gallery-mobile-click">GALLERY</h3>
                        <h3 id="rates-mobile-click">RATES</h3>
                        <h3 id="potfoilo-mobile-click">PORTFOLIO</h3>
                        <h3 id="services-mobile-click">SERVICES</h3>
                        <h3 id="about-mobile-click">ABOUT US</h3>
                    </div>
                </div>
            </div> 
        </section>
        <section class="home" >
            <div class="nav-images-info">

                <div class="nav-images-list">
                    <div class="nav-images pic">
                        <img src="./img/website/back11.png" alt="">
                    </div>
                    <div class="nav-images pic">
                        <img src="./img/website/back12.png" alt="">
                    </div>
                    <div class="nav-images pic">
                        <img src="./img/website/back13.png" alt="">
                    </div>
                    <div class="nav-images pic">
                        <img src="./img/website/back14.png" alt="">
                    </div>
                    <div class="nav-images pic">
                        <img src="./img/website/back15.png" alt="">
                    </div>
                    <div class="nav-images pic">
                        <img src="./img/website/back16.png" alt="">
                    </div>
                </div>
               
            </div> 
            <div class="bios">
                <div class="bios-text">
                    <h2>WELCOME TO NOBLE GRAPIX STUDIO</h2>
                    <p>Noble Grapix is known for delivering the best quality pictures for it's customers,
                     with the best equipment and surrondings, and leaving the customers coming for more.
                     Here are some preview of it's work, well taken and edited to the customer's taste.
                    </p>
                </div>
                <div class="bios-image-info">
                    <div class="bios-image">
                        <img src="./img/website/bac11.png" alt="">
                    </div>
                    <div class="bios-image-text">
                        <h3 id="bios-img-text">EXPLORE OUR GALLERY</h3>
                         <i class="fa-solid fa-right-long bios-icon"></i>
                    </div>
                </div>
                <div class="follow">
                    <h3>FOLLOW US ON INSTAGRAM</h3>
                    <div class="follow-link-info" >
                        <div class="follow-link">
                            <i class="fa-brands fa-instagram"></i>
                            <a href="#">NOBLE GRAPIX</a>
                        </div>  
                    </div>
                    <div class="follow-image">
                        <img src="./img/v1.png" alt="">
                    </div>
                    
                </div>

            </div>
            <div>
                
            </div>
        </section>
        <section class="gallery con" style="display: none;">
            <div class="gallery-bg">
                <div class="gallery-image-info">
                    <div class="gallery-image">
                        <img src="./img/website/bg2.png" alt="">
                    </div>
                    <div class="gallery-image-text">
                        <h3>GALLERY</h3>
                    </div>
                </div>  
            </div>
            <div class="gallery-text-info">
                <div class="gallery-text">
                    <h3 id="photography">NOBLE'S PHOTOS</h3>
                    <h3 id="make-up">JUST KLASSIC MAKE UP</h3>
                </div>
            </div>
            
            <div class="gallery-pic">
                
                <div class="row photography-con">
                    <div class="column">
                        <img src="./img/gallery-pic/h1.jpg" alt="">
                        <img src="./img/d20.jpg" alt="">
                        <img src="./img/ab2.jpeg" alt="">
                    </div>
                    <div class="column">
                        <img src="./img/gallery-pic/h5.jpg" alt="">
                        <img src="./img/d13.jpg" alt="">
                        <img src="./img/d16.jpg" alt="">

                    </div>
                    <div class="column">
                        <img src="./img/d11.jpg" alt="">
                        <img src="./img/gallery-pic/h12.jpg" alt="">
                        <img src="./img/ba3.png" alt="">
                    </div>
                    <div class="column">
                        <img src="./img/d19.jpg" alt="">
                        <img src="./img/d12.jpg" alt="">
                        <img src="./img/d15.jpg" alt="">
                    </div>
                </div> 

                <div class="row make-up-con" style="display: none;">
                    <div class="column">
                        <img src="./img/gallery-pic/j1.jpg" alt="">
                        <img src="./img/gallery-pic/j2.jpg" alt="">
                        <img src="./img/ab3.jpeg" alt="">
                    </div>
                    <div class="column">
                        <img src="./img/gallery-pic/j3.jpg" alt="">
                        <img src="./img/gallery-pic/j4.jpg" alt="">
                        <img src="./img/d14.jpg" alt="">
                    </div>
                    <div class="column">
                        <img src="./img/gallery-pic/j5.jpg" alt="">
                        <img src="./img/gallery-pic/j6.jpg" alt="">
                        <img src="./img/gallery-pic/h15.jpg" alt="">
                    </div>
                    <div class="column">
                        <img src="./img/gallery-pic/j7.jpg" alt="">
                        <img src="./img/gallery-pic/j8.jpg" alt="">
                        <img src="./img/gallery-pic/ab2.jpeg" alt="">
                    </div>
    
                </div>
            </div>
            <div class="gallery-slide" style="display: none;">
                <div class="gallery-slide-con">
                    <div class="gallery-slide-icon">
                        <i class="fa-solid fa-angle-left" onclick="plusSlides(-1)"></i>
                    </div>
                    <div class="gallery-slide-image">
                        <div class="mygallery fade">
                            <img src="./img/gallery-pic/j7.jpg" alt="">
                        </div>
                        <div class="mygallery fade">
                            <img src="./img/gallery-pic/j8.jpg" alt="">
                        </div>
                        <div class="mygallery fade">
                            <img src="./img/gallery-pic/ab2.jpeg" alt="">
                        </div>
                    </div>
                    <div class="gallery-slide-icon">
                       
                        <i class="fa-solid fa-angle-right" onclick="plusSlides(1)"></i>
                    </div>
                </div>
            </div>
        </section>
        <section class="rates " style="display: none;">
            <div class="rate-bg">
                <div class="rate-image-info">
                    <div class="rate-image">
                        <img src="./img/website/bg3.png" alt="">
                    </div>
                    <div class="rate-image-text">
                        <h3>RATES</h3>
                    </div>
                </div>  
            </div>
            <div class="price-list">
                <div class="studio-list-info">
                    <div class="basic-head">
                        <h2>STUDIO PACKAGES</h2>
                    </div>
                    <div class="basic-list-info">
                        <div class="basic-list">
                            <div class="basic-list-image">
                                <img src="./img/website/ra1.jpg" alt="">
                            </div>
                            <div class="basic-list-text">
                                <h3>BASIC SESSION</h3>
                                <div class="basic-text">
                                    <h4>AMOUNT : 20K</h4>
                                    <h4>4 Edited Pictures</h4>
                                    <h4>2 Looks</h4>
                                    <h4>1 Hour</h4>
                                </div>           
                            </div>
                            
                        </div>
                    </div>
                    <div class="standard-list-info">
                        <div class="standard-list">
                            <div class="standard-list-text">
                                <h3>STANDARD SESSION</h3>
                                <div class="standard-text">
                                    <h4>AMOUNT : 30K</h4>
                                    <h4>6 Edited Pictures</h4>
                                    <h4>3 Looks</h4>
                                    <h4>2 Hours</h4>
                                </div>
                            </div>
                            <div class="standard-list-image">
                                <img src="./img/website/ra2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="outdoor-list-info">
                    <div class="basic-head">
                        <h2>OUTDOOR PACKAGES</h2>
                    </div>
                    <div class="basic-list-info">
                        <div class="basic-list">
                            <div class="basic-list-image">
                                <img src="./img/website/ra4.jpg" alt="">
                            </div>
                            <div class="basic-list-text">
                                <h3>BASIC SESSION</h3>
                                <div class="basic-text">
                                    <h4>AMOUNT : 40K</h4>
                                    <h4>6 Edited Pictures</h4>
                                    <h4>2 Looks</h4>
                                    <h4>1 Hour</h4>
                                </div>           
                            </div>
                            
                        </div>
                    </div>
                    <div class="standard-list-info">
                        <div class="standard-list">
                            <div class="standard-list-text">
                                <h3>STANDARD SESSION</h3>
                                <div class="standard-text">
                                    <h4>AMOUNT : 50K</h4>
                                    <h4>8 Edited Pictures</h4>
                                    <h4>3 Looks</h4>
                                    <h4>2 Hours</h4>
                                </div>
                            </div>
                            <div class="standard-list-image">
                                <img src="./img/website/ra3.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="makeup-list-info">
                    <div class="basic-head">
                        <h2>MAKE-UP PACKAGE</h2>
                    </div> 
                    <div class="makeup-imp">
                        <div class="makeup-list">
                            <div class="makeup-list-image">
                                <img src="./img/website/ra6.png" alt="">
                            </div>
                            <div class="makeup-mobile-text">
                                <div class="makeup-text">
                                    <h4>STUDIO MAKE-UP : 12K</h4>
                                    <h4>HOME SERVICE : 25K</h4>
                                    <h4>BRIDAL MAKE-UP(WITHIN PORT HACOURT) : 60k</h4>
                                    <h4>BRIDAL MAKE-UP(OUTSIDE PORT HACOURT) : 100K</h4>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    
                </div>
                
            </div>
        </section>
        <section class="potfoilo" style="display: none;">
            <div class="potfoilo-bg">
                <div class="potfoilo-image-info">
                    <div class="potfoilo-image">
                        <img src="./img/website/bg5.png" alt="">
                    </div>
                    <div class="potfoilo-image-text">
                        <h3>POTFOLIO</h3>
                    </div>
                </div>  
            </div>
            <div class="potfoilo-info">
                <div class="potfoilo-box">
                    <div class="potfoilo-list">
                        <div class="potfoilo-list-info">
                            <div class="potfoilo-list-image">
                                <div class="potfoilo-list-image-bg">
                                    <h4>protfolio</h4>
                                </div>
                                <img src="./img/website/pot2.png" alt="">
                            </div>
                            <div class="potfoilo-list-text">
                                <h3>INDOOR</h3>
                                <div class="potfoilo-list-icon">
                                    <i class="fa-solid fa-right-long" ></i>
                                </div>
                            </div>
                        </div>
                        <div class="potfoilo-list-info">
                            <div class="potfoilo-list-image">
                                <div class="potfoilo-list-image-bg">
                                    <h4>protfolio</h4>
                                </div>
                                <img src="./img/website/pot4.png" alt="">
                            </div>
                            <div class="potfoilo-list-text">
                                <h3>OUTDOOR</h3>
                                <div class="potfoilo-list-icon">
                                    <i class="fa-solid fa-right-long" ></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="potfoilo-list">
                        <div class="potfoilo-list-info">
                            <div class="potfoilo-list-image">
                                <div class="potfoilo-list-image-bg">
                                    <h4>protfolio</h4>
                                </div>
                                <img src="./img/website/pot5.png" alt="">
                            </div>
                            <div class="potfoilo-list-text">
                                <h3>PORTRAITS</h3>
                                <div class="potfoilo-list-icon">
                                    <i class="fa-solid fa-right-long" ></i>
                                </div>
                            </div>
                        </div>
                        <div class="potfoilo-list-info">
                            <div class="potfoilo-list-image">
                                <div class="potfoilo-list-image-bg">
                                    <h4>protfolio</h4>
                                </div>
                                <img src="./img/website/pot6.png" alt="">
                            </div>
                            <div class="potfoilo-list-text">
                                <h3>FASHION</h3>
                                <div class="potfoilo-list-icon">
                                    <i class="fa-solid fa-right-long" ></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="potfoilo-list">
                        <div class="potfoilo-list-info">
                            <div class="potfoilo-list-image">
                                <div class="potfoilo-list-image-bg">
                                    <h4>protfolio</h4>
                                </div>
                                <img src="./img/website/pot8.png" alt="">
                            </div>
                            <div class="potfoilo-list-text">
                                <h3>PRODUCT</h3>
                                <div class="potfoilo-list-icon">
                                    <i class="fa-solid fa-right-long" ></i>
                                </div>
                            </div>
                        </div>
                        <div class="potfoilo-list-info">
                            <div class="potfoilo-list-image">
                                <div class="potfoilo-list-image-bg">
                                    <h4>protfolio</h4>
                                </div>
                                <img src="./img/website/pot7.png" alt="">
                            </div>
                            <div class="potfoilo-list-text">
                                <h3>MAKE-UP</h3>
                                <div class="potfoilo-list-icon">
                                    <i class="fa-solid fa-right-long" ></i>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="potrait-pics" >
                <div class="potrait-image-info indoor-image" style="display: none;">
                    <div class="potrait-image-list">
                        <img src="./img/indoor/h10.jpg" alt="">
                        <img src="./img/indoor/h5.jpg" alt="">
                        <img src="./img/indoor/h2.jpg" alt="">
                    </div>
                    <div class="potrait-image-list">
                        <img src="./img/indoor/h10.jpg" alt="">
                        <img src="./img/gallery-pic/h15.jpg" alt="">
                        <img src="./img/gallery-pic/h15.jpg" alt="">
                    </div>
                    <div class="potrait-image-list">
                        <img src="./img/indoor/h5.jpg" alt="">
                        <img src="./img/indoor/h3.jpg" alt="">
                        <img src="./img/indoor/h3.jpg" alt="">
                    </div>  
                </div>

                <div class="potrait-image-info outdoor-image" style="display: none;">
                    <div class="potrait-image-list">
                        <img src="./img/indoor/h5.jpg" alt="">
                        <img src="./img/indoor/h2.jpg" alt="">
                        <img src="./img/indoor/h3.jpg" alt="">
                    </div>
                    <div class="potrait-image-list">
                        <img src="./img/indoor/h8.jpg" alt="">
                        <img src="./img/gallery-pic/h12.jpg" alt="">
                        <img src="./img/gallery-pic/h2.jpg" alt="">
                    </div>
                    <div class="potrait-image-list">
                        <img src="./img/gallery-pic/h20.jpg" alt="">
                        <img src="./img/gallery-pic/h17.jpg" alt="">
                        <img src="./img/gallery-pic/h15.jpg" alt="">
                    </div>  
                </div>

                <div class="potrait-image-info potrait-image" style="display: none;">
                    <div class="potrait-image-list">
                        <img src="./img/indoor/h5.jpg" alt="">
                        <img src="./img/indoor/h5.jpg" alt="">
                        <img src="./img/indoor/h2.jpg" alt="">
                    </div>
                    <div class="potrait-image-list">
                        <img src="./img/indoor/h3.jpg" alt="">
                        <img src="./img/indoor/h8.jpg" alt="">
                        <img src="./img/gallery-pic/h12.jpg" alt="">
                    </div>
                    <div class="potrait-image-list">
                        <img src="./img/gallery-pic/h2.jpg" alt="">
                        <img src="./img/gallery-pic/h20.jpg" alt="">
                        <img src="./img/gallery-pic/h17.jpg" alt="">
                    </div>

                </div>
                <div class="potrait-image-info fashion-image" style="display: none;">
                    <div class="potrait-image-list">
                        <img src="./img/gallery-pic/h20.jpg" alt="">
                        <img src="./img/indoor/h5.jpg" alt="">
                        <img src="./img/indoor/h2.jpg" alt="">
                        
                    </div>
                    <div class="potrait-image-list">
                        <img src="./img/indoor/h8.jpg" alt="">
                        <img src="./img/gallery-pic/h12.jpg" alt="">
                        <img src="./img/gallery-pic/h2.jpg" alt="">
                    </div>
                    <div class="potrait-image-list">
                        <img src="./img/gallery-pic/h20.jpg" alt="">
                    <img src="./img/gallery-pic/h17.jpg" alt="">
                    <img src="./img/gallery-pic/h15.jpg" alt="">
                    </div>
                    
                    
                    
                </div>
                <div class="potrait-image-info product-image" style="display: none;">
                    <div class="potrait-image-list">
                        <img src="./img/indoor/h8.jpg" alt="">
                        <img src="./img/indoor/h5.jpg" alt="">
                        <img src="./img/indoor/h2.jpg" alt="">
                    </div>
                    <div class="potrait-image-list">
                        <img src="./img/indoor/h3.jpg" alt="">
                        <img src="./img/indoor/h8.jpg" alt="">
                        <img src="./img/gallery-pic/h12.jpg" alt="">
                    </div>
                    <div class="potrait-image-list">
                        <img src="./img/gallery-pic/h2.jpg" alt="">
                        <img src="./img/gallery-pic/h20.jpg" alt="">
                        <img src="./img/gallery-pic/h17.jpg" alt="">
                    </div>
                </div>
                <div class="potrait-image-info makeup-image" style="display: none;">
                    <div class="potrait-image-list">
                        <img src="./img/gallery-pic/h2.jpg" alt="">
                    <img src="./img/indoor/h5.jpg" alt="">
                    <img src="./img/indoor/h2.jpg" alt="">
                    </div>
                    <div class="potrait-image-list">
                        <img src="./img/indoor/h3.jpg" alt="">
                    <img src="./img/indoor/h8.jpg" alt="">
                    <img src="./img/gallery-pic/h12.jpg" alt="">
                    </div>
                    <div class="potrait-image-list">
                        <img src="./img/gallery-pic/h2.jpg" alt="">
                    <img src="./img/gallery-pic/h20.jpg" alt="">
                    <img src="./img/gallery-pic/h17.jpg" alt="">
                    </div>
                    
                    
                    
                    
                </div>
            </div>
        </section>
        <section class="service"  style="display: none;">
            <div class="potfoilo-bg">
                <div class="potfoilo-image-info">
                    <div class="potfoilo-image">
                        <img src="./img/website/bg6.png" alt="">
                    </div>
                    <div class="potfoilo-image-text">
                        <h3>SERVICE</h3>
                    </div>
                </div>  
            </div>
            <div class="service-info">
                <div class="service-text-info">
                    <div class="service-note">
                        <div class="servicetext">
                            <h3 class="booking-click">BOOKINGS</h3>
                            <h3 class="training-click">TRAINING</h3>
                       </div>
                    </div>
                    
                </div>
                <div class="booking"style="display: none;">
                    <div class="booking-unlist">
                        <h2>BOOKINGS</h2>
                        <div class="booking-info">
                            <div class="booking-text-list">
                                <div class="booking-text">
                                    <h3>NAME</h3>
                                    <input type="text">
                                </div>
                                <div class="booking-text">
                                    <h3>PHONE NUMBER</h3>
                                    <input type="tel">
                                </div>
                            </div>
                        </div>
                        <div class="session">  
                           
                            <div class="session-info">
                                <div class="session-list">
                                    <h3>SELECT YOUR SUITABLE PACKAGE</h3>
                                    <i class="fa-solid fa-angle-right right"></i>
                                    <i class="fa-solid fa-angle-down down" style="display: none;"></i>
                                </div>
                                <div class="session-text">
                                    <div class="session-text-info" style="display: none;">
                                        <div class="session-text-list">
                                            <h3>STUDIO PACKAGE</h3>
                                           <div id="studio-click">
                                            <i style="display: none;" class="fa-solid fa-circle click1 "></i>
                                           </div>
                                        </div>
                                        <div class="session-text-list">
                                            <h3>OUTDOOR PACKAGE</h3>
                                            <div id="outdoor-click">
                                                <i style="display: none;" class="fa-solid fa-circle click2"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="package" style="display: none;">
                                <h3>CH00SE YOUR SESSION</h3>
                                <div class="package-input">
                                    <div class="studio-package">
                                        <div class="basic-package-sec">
                                            <div class="basic-package">
                                                <h3>BASIC SESSION</h3>
                                                <h4>4 Edited Pictures</h4>
                                                <h4>2 Looks</h4>
                                                <h4>1 Hour</h4>
                                                <h3 class="package-amount">AMOUNT:</h3>
                                                <h3 class="package-amount">20k</h3>
                                                <div class="session-select select1">
                                                    <i class="fas fa-check-square square "></i>
                                                </div>
                
                                            </div>
                                        </div>
                                        <div class="standard-package-sec">
                                            <div class="standard-package">
                                                <h3>STANDARD SESSION</h3>
                                                <h4>6 Edited Pictures</h4>
                                                <h4>3 Looks</h4>
                                                <h4>2 Hours</h4>
                                                <h3 class="package-amount">AMOUNT:</h3>
                                                <h3 class="package-amount">30k</h3>
                                                <div class="session-select select2">
                                                    <i class="fas fa-check-square square"></i>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                    <div class="outdoor-package" style="display: none;">
                                        <div class="basic-package-sec">
                                            <div class="basic-package outdoor-basic">
                                                <h3>BASIC SESSION</h3>
                                                <h4>6 Edited Pictures</h4>
                                                <h4>2 Looks</h4>
                                                <h4>1 Hour</h4>
                                                <h3 class="package-amount">AMOUNT:</h3>
                                                <h3 class="package-amount">40k</h3>
                                                <div class="session-select select3">
                                                    <i class="fas fa-check-square square"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="standard-package-sec">
                                            <div class="standard-package outdoor-standard">
                                                <h3>STANDARD SESSION</h3>
                                                <h4>8 Edited Pictures</h4>
                                                <h4>3 Looks</h4>
                                                <h4>2 Hours</h4>
                                                <h3 class="package-amount">AMOUNT:</h3>
                                                <h3 class="package-amount">50k</h3>
                                                <div class="session-select select4">
                                                    <i class="fas fa-check-square square"></i>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="booking-date">
                                <div class="booking-date-info">
                                    <div class="booking-date-list">
                                        <h3>BOOKING DATE</h3>
                                        <div class="select-date">
                                            <input type="time">
                                            <input type="date">
                                        </div>
                                    </div>
                                    <div class="booking-date-message">
                                        <h3>MESSAGE</h3>
                                        <input id="message" type="text">
                                    </div>
                                    <div class="select-submit">
                                        <input type="submit" value="SUBMIT" >
                                    </div>
                                    <div id="screen">
                                        <h5>SELECT A SESSION FIRST</h5>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
               </div>
               <div class="training" style="display: none;">
                    <div class="training-info">
                        <div class="training-head">
                            <h2>PHOTOGRAPHY & MAKE-UP TRAINING</h2>
                        </div>
                        <div class="training-text">
                            <p>if your looking for the best place to learn and develop a skill in
                                either photography, photo-editing or make-up, you have come to the 
                                right place because NOBLE GRAPIX and JUSTKLASSIC are capable of 
                                giving you the best classes you need,and it is worth every money  
                                your are going to spend.
                            </p>
                            <div class="training-text-list">
                                <p>
                                    NOBLE GRAPIX teaches you all you need to know about taking
                                    the best best pictures and editing them afterwards to your client teast.
                                    some skill to be taught are:
                                </p>
                                <ul>
                                    <li>Color grading and retouching</li>
                                    <li>The Business Of Photography</li>
                                    <li>Lighting & Composition</li>
                                    <li>Social Media Marking</li>
                                    <li>Post Production</li>
                                </ul>
                            </div>
                            <div class="training-text-list">
                                <p>
                                    JUSTKLASSIC make-up class teaches you every basic and advance kind of make-up.
                                    Here you learn everything about the make-up tools ande it uses,examples are:
                                </p>
                                <ul>
                                    <li>Lashes of various lengths.</li>
                                    <li>A variety of brushes to apply skincare products.</li>
                                    <li>Disposable sponges.</li>
                                    <li>Eyebrow tweezers, to put them in line.</li>
                                    <li>Foundations, which can give skin various tones.</li>
                                    <li>Lipstick, to give accents to your more feminine attributes. etc.</li>
                                </ul> 
                            </div>
                            
                            

                        </div>
                        <div class="training-body">
                            <div class="trainig-list">
                                <h3>PHOTOGRAPHY,PHOTO-EDITING & MAKE-UP PRICE-LIST</h3>
                                <div class="trainig-list-info">
                                    <ul class="trainig-list-text">
                                        <li>1 MONTH BEGINNER CLASS(photography&photo-editing)</li>
                                        <li>2 MONTH BEGINNER TO MASTER CLASS(photography&photo-editing)</li>
                                        <li>5 DAYS UPGRADE TO MASTER CLASS(photo-editing) </li>
                                        <li>MAKE-UP CLASS</li>
                                    </ul>
                                    <ul class="trainig-list-text1">
                                        <li>-</li>
                                        <li>-</li>
                                        <li>-</li>
                                        <li>-</li>
                                    </ul>
                                    <ul class="trainig-list-text1">
                                        <li>50k</li>
                                        <li>100k</li>
                                        <li>40k</li>
                                        <li>50k</li>
                                    </ul>
                                </div>
                            </div> 
                            <div class="training-contact">
                                <h3 id="training-contact-head">CONTACT THE FOLLOWING PHONE NUMBERS FOR MORE INFO ON YOUR SUITABLE CLASSES</h3> 
                                <div class="training-contact-text">
                                    <h3>0810-991-0656 - PHOTOGRAPHY & PHOTO-EDITING CLASS</h3>
                                    <h3>0817-246-8877 - MAKE-UP CLASS</h3>
                                </div>
                                
                            </div>
                        </div>  
                    
                            
                     
                    </div> 
               </div>
            </div>
           <div class="booking-profile" style="display: none;">
                    <div class="profile-info">
                        <div class="profile-name-info">
                            <div class="profile-name">
                                <h2>NAME</h2>
                                <h3>CHRIS CADILLAC</h3>
                            </div>
                            <div class="profile-name">
                                <h2>PHONE NUMBER</h2>
                                <h3>08067089851</h3>
                            </div>
                        </div>
                        <div class="profile-package">
                            <h2>STUDIO PACKAGE</h2>
                            <h3>BASIC SESSION</h3>
                            <h4>4 Edited Pictures</h4>
                            <h4>2 Looks</h4>
                            <h4>1 Hour</h4>
                            <div class="profile-package-amount">
                                <h3 class="profile-text">AMOUNT:</h3>
                                <h3 class="profile-text">20k</h3>
                            </div>
                        </div>
                        <div class="profile-detail">
                            <h3 id="date" style="color: white;">DATE :</h3>
                            <div class="profile-time-info">
                            
                                <div class="profile-time">
                                    <h4>09:00</h4>
                                </div>
                                <div class="profile-date">
                                    <h4>24th/10/2022</h4>
                                </div>
                            </div>
                            <div class="profile-message">
                                <h3>Hello i booked a shoot earlier today</h3>
                            </div>
                        </div>
                        <div class="profile-submit">
                            <input type="submit" value="SUBMIT">
                        </div>
                    </div>
                <div class="cancel">
                    <i class="fa-solid fa-x"></i>
                </div>
            </div>
        </section>
        <section class="about" style="display: none;">
            <div class="rate-bg">
                <div class="rate-image-info">
                    <div class="rate-image">
                        <img src="./img/website/bg8.png" alt="">
                    </div>
                    <div class="rate-image-text">
                        <h3>ABOUT</h3>
                    </div>
                </div>  
            </div>
            <div class="about-text">
                <p>NOBLE GRAPIX STUDIO is a modern and classic studio located at Alakahia, Port Harcourt, Nigeria.
                    it is owned by a skillful and experienced photographer.
                    NOBLE GRAPIX STUDIO is fully equipped with morden equipment.Every client
                    has his or her own testimony about the studio,from the view of the studio 
                    to the work been done by everyone in the studio, which makes us stand out as one of the best.
                    We make sure that the cilent is satisfied with the work being done for him or her.Make-up,photo-editing,
                    training etc, we make sure everything is perfect for you
                </p>
            </div>
            <div class="about-image">
                <h3>OUR STUDIO VIEWS</h3>
                <div class="about-image-info">
                    <img src="./img/b2.jpeg">
                    <img src="./img/b3.jpeg">
                </div>
                <div class="about-image-info">
                    <img src="./img/a4.png">
                    <img src="./img/a6.png">
                </div>
            
            </div>
            
        </section>
        <section class="contact">
            <div class="contact-list">
                <div class="phone-num">
                    <h4>Contact us at:</h4>
                    <h3>0810-991-0656 - PHOTOGRAPHY</h3>
                    <h3>0817-246-8877 - MAKE-UP</h3>
                </div>
                <div class="links">
                    <h3>Follow us on</h3>
                    <div class="links-icon">
                        <a href="#" style="color: rgb(255, 0, 98);"><i class="fa-brands fa-instagram instagram"></i></a>
                        <a href="#" style="color: blue;"><i class="fa-brands fa-facebook "></i></a>
                        <a href="#" style="color: green;"><i class="fa-brands fa-whatsapp "></i></a>
                    </div>
                    
                </div>
                
            </div>
        </section>
        
        <footer>
            <h3>© Noble Grapix Studio- All Rights Reserved</h3>
        </footer>
        <script src="js/noble.js" ></script>
        <script src="js/nobleipad.js" ></script>
        

    </body>
</html>